*{
	margin: 0;
	padding: 0;
	color: gray;
}
h1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.4px;
}

p {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.blockquote {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
.pre {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
#as_toolbar
{
	border: 1px solid transparent;
	width: 59px;
	min-height: 512px;
	right: 0px;
	top: 0px;
	position: fixed;	
}

#div_menuButton
{
	background-image: url("/img/menu.png");
	background-color: #90C3D4;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

#sec_menuDialog
{
	right: 5px;
    width: 40%;
    height: 95vh;
    min-width: 400px;
    margin: 0px;
	margin-top: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid white;
    position: fixed;
	display: none;
}

#div_dialogHeader
{
	width: 100%;
	height: 32px;
	border:	1px;	
}

#div_dialogHeaderExit
{
	width: 32px;
	height: 32px;
	background-image: url("./../img/exit-to-app.png");
	background-position: 4px 4px;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
}
#div_dialogContentWraper
{
	width: 99%;
	height: 94%;
	margin: auto;
	padding: 0;
	overflow:scroll;
}

#div_dialogContent
{
	width: 95%;
	height: 650px;
	margin: 1%;
}
/**********************************/
.iblock
{
	display: inline-block;
}
.shadow
{
	-webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);	
}

.toolbarButton
{
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	margin-top: 9px;	
	-webkit-transition: opacity 3s; /* Safari */    
	cursor: pointer;
}

.opacity
{
	transition: opacity 4s;
	opacity: 0.3;
}

.opacity:hover
{
	-webkit-transition: opacity 1s; /* Safari */
    transition: opacity 0.5s;
	opacity: 1;
}